/*
* Font weight
*/

$heavy: 900;
$extra: 800;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

// @font-face {
//   font-family: 'Didot';
//   src:
//     url('../../../../dist/assets/font/Didot.ttc');
//   font-weight: 400;
// }
