/*
* breakpoint configuration
*/

// min or max
$queryType: max;

// size
$breakpoint: (
  'sm': 750px,
  'mobileMin': 900px,
  'md': 1024px,
  'md-lg': 1200px,
  'l': 1440px,
  'lg-xl': 2000px,
  'xl': 2500px
);

/*
* font-weight
*/

$weightValue: (
  'heavy': 900,
  'extra': 800,
  'bold': 700,
  'semi-bold': 600,
  'medium': 500,
  'regular': 400,
  'light': 300
);